TUGAS KELOMPOK SINTAKS
1. Hasballah Askar
2. Galang Setia Nugroho
3. Khalishah Fiddina
4. Tifani Amalina
5. Muhammad Ilham Hakiqi

**PYTHON DATA TYPES**

1. Numeric Types
 
In the Python programming language, there are 3 types of numeric data, namely:

* Integer
* Float
* Complex

* Integers or ints are positive or negative whole numbers with no decimal point.

For example as follows:

In [ ]:
#Tipe Data Integer
x = 100

In [ ]:
print(type(x))

<class 'int'>

* Float represent real numbers and are written with a decimal point dividing the integer and fractional parts. 

For example as follows:

In [ ]:
#Tipe Data Float
y = 12.53

In [ ]:
print(type(y))

<class 'float'>

* complex (complex numbers) are of the form a + bJ, where a and b are floats and J (or j) represents the square root of -1 (which is an imaginary number). The real part of the number is a, and the imaginary part is b.

For example as follows:

In [ ]:
z = 3+2j

In [ ]:
print(type(z))

<class 'complex'>

2. Tipe Data String

String is a sequence of Unicode characters. Declared in single or double-quotes. In Python, the use of single or double quotes is considered the same. Strings of more than 1 line can be marked with 3 single quotes ''' or double """.

For example as follows:

In [ ]:
Nama_Kelompok = "Sintaks"

In [ ]:
print(type(Nama_Kelompok))

<class 'str'>

In [ ]:
kelas = """Data Science Track
Kelas B
MyEduSolve"""

In [ ]:
print(kelas)

Data Science Track
Kelas B
MyEduSolve

In [ ]:
print(type(kelas))

<class 'str'>